*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: auto;
    font-size:14px;
    font-family: 'Inter',sans-serif;
    box-shadow:5px 0 10px #cecece;
}

.navbar{
    width:inherit;
    padding:16px 16px 8px 16px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    letter-spacing: 0.5px;
}

.logo{
    width:150px;
}

.items{
    display:inherit;
    align-items:center;
    gap:28px;
    list-style: none;
}

.item a:link{
    color:#464646;
    text-decoration: none;
}

.item a:link span.icon{
    display:inline-block;
    width: 14px;
    height: 14px;
    margin-left: 4px;
    background-image:url('../assets/icons/chevron-down.svg');
    background-position-y: 2px;
}

.items li:last-of-type{
    list-style: none;
}

.settings{
    display:flex;
    align-items: center;
    list-style: none;
}

.settings li{
    display:inline-block;
    color:#464646;
}

.settings li:last-of-type{
    margin-top:4px;
    margin-left:4px;
}

.settings li:last-of-type a:link{
    align-self: flex-end;
}

.settings li:last-of-type a:link .icon{
    display:inline-block;
    width: 20px;
    height: 20px;
    background-image:url('../assets/icons/magnifying-glass.svg');
}
